.btn {
  padding: 5px 15px;
  color: white;
  max-width: 150px;
  background-color: rgb(97, 150, 220);
  border-radius:  4px; 
  border: none;
  margin: 5px 15px;
  cursor: pointer;  

  &:hover{
    box-shadow: 0px 4px 5px #d7d7db;
  }
}


.btn.danger{
  background-color: rgb(200, 50, 50);
}
.btn.warning{
  background-color: rgb(200, 167, 50);
}